###########################################################

## python==3.8.19

###########################################################

## python libraries or dependences.
gcastle==1.0.3
torch==2.1.0
configargparse==1.7
graphviz==0.20.3
jupyter==1.1.1
lazypredict==0.2.13
tensorflow==2.13.1










